* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

header {
  position: relative;
}

.header-mask {
  background: url("./images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.15;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.header-mask div {
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.4;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-centered-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu-list {
  position: fixed;
  display: none;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  list-style-type: none;
  background-color: #272a31f9;
  margin: 0;
  padding: 2rem 2rem;
  gap: 2rem;
  z-index: 999;
}

.close-menu {
  align-self: flex-end;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.menu-list * {
  color: #d3d3d3;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
}

.menu-container {
  margin-left: 1rem;
}

.menu-icon .material-icons {
  font-size: 48px;
  color: #272a31;
  cursor: pointer;
}

.logo-container {
  margin-right: 1rem;
  padding: 0.25rem;
}

footer img {
  height: 3rem;
}

.logo-container img {
  max-height: 3rem;
}

.headline {
  padding: 2rem 1rem 4rem;
  display: flex;
  flex-direction: column;
}

.title-description {
  color: #ec5242;
  font-size: large;
  margin: 0 0 1rem;
}

h1 {
  color: #ec5242;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 1rem;
}

.header-desctiption {
  border: solid 2px #fff;
  padding: 1rem;
  color: #272a31;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin: 0 0 1rem;
}

.event-date {
  color: #272a31;
  font-size: 24px;
  font-weight: 900;
  margin: 0 0 1rem;
}

.event-place {
  color: #272a31;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.main-program {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  background: url("./images/program-bg.png");
  background-position: center;
}

.progarm-header {
  margin: 0;
  color: #d3d3d3;
}

.header-underline {
  width: 2.5rem;
  border-width: 0 0 1px;
  border-color: #ec5242;
  margin-bottom: 1.5rem;
}

.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 0 0 1.5rem;
}

footer p {
  color: #272a31;
  font-size: 9px;
}

.program-card {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  gap: 1rem;
}

.program-card:hover {
  outline: solid 2px #fff;
}

.program-card * {
  margin: 0;
}

.program-card img {
  flex: 2;
  min-width: 1rem;
}

.program-card h3 {
  flex: 4;
  color: #ec5242;
  font-size: 14px;
}

.program-card p {
  flex: 12;
  color: #d3d3d3;
  font-size: 11px;
  line-height: 16px;
}

button {
  background-color: #ec5242;
  color: #d3d3d3;
  padding: 1.5rem 3rem;
  border: 0;
}

.artists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  padding: 2rem 1rem;
}

.artists-header {
  margin: 0;
  color: #272a31;
  font-size: large;
}

#artists-container {
  display: grid;
  grid-template-columns: auto;
  row-gap: 2rem;
  margin: 0 0 2rem;
}

.artist-card {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  gap: 1rem;
}

.img-container {
  position: relative;
  flex: 2;
}

.img-container div {
  position: absolute;
  width: 44px;
  height: 44px;
  z-index: -1;
  background: url("./images/chess-img.png");
}

.img-container img {
  margin: 12px 0 0 12px;
  width: calc(100% - 12px);
  aspect-ratio: 1/1;
  z-index: 1;
}

.artist-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 4;
}

.artist-info h3 {
  margin: 0 0 0.5rem;
  font-size: 16px;
  color: #272a31;
}

.artist-info h4 {
  margin: 0 0 0.5rem;
  font-size: 11px;
  color: #ec5242;
}

.info-underline {
  width: 1rem;
  border-width: 0 0 1px;
  border-color: #272a31;
  margin: 0 0 0.75rem;
}

.artist-info p {
  margin: 0 0 0.5rem;
  font-size: 9px;
  color: #272a31;
}

#more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #d3d3d3;
  background-color: #fff;
  color: #272a31;
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: 9px;
  align-content: center;
}

#more-btn .material-icons {
  font-size: 18px;
  color: #ec5242;
}

.partners {
  background-color: #272a31;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  padding: 2rem 1rem;
}

.partners-header {
  margin: 0;
  color: #d3d3d3;
  font-size: 16px;
}

.partners-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 1rem;
}

.partners-container img {
  height: 1.25rem;
}

footer {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  nav {
    width: 100%;
    background-color: #fff;
    padding: 0 6rem;
    position: fixed;
    top: 0;
    z-index: 9999;
    box-shadow: 0 1px 2px #ec5242;
  }

  .headline {
    margin-top: 3rem;
    padding: 6rem;
  }

  .menu-container {
    order: 2;
  }

  .menu-icon {
    display: none;
  }

  .menu-list {
    position: static;
    display: flex;
    flex-direction: row;
    padding: 0;
    background-color: transparent;
    gap: 0;
  }

  .menu-list * {
    color: #272a31;
    font-size: 12px;
    font-weight: 700;
    height: 100%;
  }

  .menu-list a {
    padding: 1rem 1.5rem;
  }

  .menu-list a:hover {
    background-color: #ec5342;
  }

  .close-menu {
    display: none;
  }

  .header-desctiption {
    width: 60%;
    background-color: #d3d3d388;
  }

  .main-program {
    padding: 2rem 6rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .cards-container {
    flex-direction: row;
    gap: 0.25rem;
    justify-content: stretch;
    align-items: stretch;
    align-self: stretch;
  }

  .program-card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    flex: 1;
    flex-grow: 1;
  }

  .program-card p {
    font-size: 10px;
    line-height: 12px;
    gap: 0.5rem;
  }

  .artists {
    padding: 2rem 6rem;
  }

  #artists-container {
    grid-template-columns: auto auto;
    column-gap: 1rem;
    row-gap: 2rem;
    margin: 0 0 2rem;
  }

  .partners {
    padding: 2rem 6rem;
  }

  footer {
    justify-content: stretch;
    padding: 3rem 6rem;
  }
}
